<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            © 2016 {{ site.author }}
            <!-- {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %} -->
            </li>
          <li>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="icon  icon--linkedin">
                <svg viewBox="0 0 512 512"><path  fill="#828282" d="M411.9 50h-312c-27.6 0-50 22.4-50 50v312c0 27.6 22.4 50 50 50h312c27.6 0 50-22.4 50-50V100C461.9 72.4 439.6 50 411.9 50zM181 393h-56.5V210.3h56.5V393zM152.5 186.4c-18.5 0-33.4-15.1-33.4-33.7 0-18.6 15-33.7 33.4-33.7 18.5 0 33.4 15.1 33.4 33.7C185.9 171.3 170.9 186.4 152.5 186.4zM392.9 393h-56.3c0 0 0-69.6 0-95.9 0-26.3-10-41-30.8-41 -22.6 0-34.5 15.3-34.5 41 0 28.1 0 95.9 0 95.9h-54.2V210.3h54.2v24.6c0 0 16.3-30.2 55-30.2s66.5 23.6 66.5 72.6C392.9 326.3 392.9 393 392.9 393z"/></svg>
              </span>

              <span class="username">{{ site.linkedin_username }}</span>
            </a>
          </li>
          {% endif %}

        </ul>

      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
        <!-- <a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
      </div>
    </div>

  </div>

</footer>
